---
import Layout from "@layouts/Layout.astro";
const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();
import LinkButton from '@components/linkbutton.astro';
---

<Layout title="Page not found"> <!-- Website name here -->
<h1>Page not found<h1>
<p>The page {canonicalURL} dosent exist Make sure it is spelt correctly, try a diffrent URL or return home</p>
  <LinkButton
  title="Home"
  link="/"
  id="1"
/>
</Layout>

<style>
body {
  text-align: center;

.url {
  text-decoration: link;
}
}
