---
import Layout from "@layouts/Layout.astro";
import LinkButton from '@components/linkbutton.astro';
---

<script> // Revmoes the layout so banners span full screen
  const element = document.querySelector('.layout');
  if (element) {
    element.classList.remove('layout');
  }
</script>

<Layout
title="Home"
description="PF0's Personal website. I am a "
>
<h1>Hello, I am PF0</h1>
<p>Hello. I am PF0, an Austrlian, Video game enthusiast and Aspiring developer. Find out about me, my social media and portfolio!</p>
  <LinkButton
    title="About me"
    link="about"
    id="1"
  />
  <LinkButton
    title="Portfolio"
    link="portfolio"
    id="2"
  />
  <LinkButton
    title="Contact"
    link="contact"
    id="3"
  />


  <div class="disclaimer">Website by PF0, 2023. All rights reserved.</br>This is currently under development and incomplete</div>
</Layout>

<style>
  body {
    background-image: url('/Aurora-Borealis.jpg');
    text-align: center
  }

  
  .disclaimer {
    padding-top: 5vh;
    font-size: 67%;
  }
  </style>
